/*------------------------------------------------------------*/
/*---| CURRENCY COMPONENT CSS |-------------------------------*/
/*------------------------------------------------------------*/

  /* CONTAINER */
/*------------------------------------------------------------*/
  #currencyContainer1{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
/*------------------------------------------------------------*/

/*------------------------------------------------------------*/
/*------------------------------------------------------------*/
