<!-- CONTAINER OF DETAILS OF ARCHIVE -->
<div class="card" style="width:20rem">
  <div class="card-block">
    <!-- TITLE -->
    <h4 class="card-title">Contrato</h4>

    <!-- NAME OF ARCHIVE -->
    <p class="card-text">{{ upload.name }}</p>

    <!--BUTTON TO VISUALIZE -->
    <a href="{{ upload.url }}" class="btn btn-primary float-md-left" role="btn">Visualizar</a>

    <!-- BUTTON TO DELETE -->
    <a class="btn btn-danger float-md-left" role="btn" (click)="delete( upload )">Eliminar</a>
  </div>
</div><!-- END OF CONTAINER OF DETAILS OF ARCHIVE -->
