/*------------------------------------------------------------*/
/*---| I18N-SELECT COMPONENT CSS |----------------------------*/
/*------------------------------------------------------------*/

  /* CONTAINER */
/*------------------------------------------------------------*/
  #i18nSelectContainer1{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
/*------------------------------------------------------------*/

/*------------------------------------------------------------*/
/*------------------------------------------------------------*/
