/*------------------------------------------------------------*/
/*---| NGIF DIRECTIVE CSS |-----------------------------------*/
/*------------------------------------------------------------*/

  /* CONTAINER */
/*------------------------------------------------------------*/
  #ngIfContainer1{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #ngIfContainer1>input{
    width: 300px;
  }
/*------------------------------------------------------------*/

/*------------------------------------------------------------*/
/*------------------------------------------------------------*/
