/*------------------------------------------------------------*/
/*---| FECHA ACTUAL COMPONENT CSS |---------------------------*/
/*------------------------------------------------------------*/

  /* DATE */
/*------------------------------------------------------------*/
  .date{
    font-family: courier;
    text-align: center;
    font-style: italic;
  }
/*------------------------------------------------------------*/

/*------------------------------------------------------------*/
/*------------------------------------------------------------*/
