/*------------------------------------------------------------*/
/*---| JSON COMPONENT CSS |-----------------------------------*/
/*------------------------------------------------------------*/

#jsonContainer1{
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*------------------------------------------------------------*/
/*------------------------------------------------------------*/
