/*------------------------------------------------------------*/
/*---| METODO INTERPOLACION COMPONENT CSS |-------------------*/
/*------------------------------------------------------------*/

  /* PUNCTUATION */
/*------------------------------------------------------------*/
  #punctuation{
    font-family: arial;
    text-align: center;
    font-style: italic;
    margin: 25px auto;
  }
/*------------------------------------------------------------*/

/*------------------------------------------------------------*/
/*------------------------------------------------------------*/
