<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>AppCurso</title>
  <base href="/">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>
<body>
  <!-- CONTAINER -->
  <div id="wrapper01">
    <!-- TITLE -->
    <h1 class="title">Hola {{ destinity }} !</h1>

    <!-- ACTUAL DATE -->
    <app-fecha-actual></app-fecha-actual>

    <!-- VIEW ALUMNO -->
    <app-view-alumno></app-view-alumno>

    <!-- EXAMPLE OF INTERPOLATION METHOD -->
    <h6 style="text-align:center; font-family:arial; margin-top:50px;">EXAMPLE OF INTERPOLATION METHOD</h6>
    <app-metodo-interpolacion></app-metodo-interpolacion>

    <!-- EXAMPLE OF PROPERTY BINDING -->
    <h6 style="text-align:center; font-family:arial; margin-top:50px;">EXAMPLE OF PROPERTY BINDING</h6>
    <app-property-binding></app-property-binding>

    <!-- EXAMPLE OF EVENT BINDING -->
    <h6 style="text-align:center; font-family:arial; margin-top:50px;">EXAMPLE OF EVENT BINDING</h6>
    <app-event-binding></app-event-binding>

    <!-- EXAMPLE OF TWO BINDING -->
    <h6 style="text-align:center; font-family:arial; margin-top:50px;">EXAMPLE OF TWO BINDING</h6>
    <app-two-binding></app-two-binding>

    <!-- EXAMPLE OF NGIF DIRECTIRVE -->
    <h6 style="text-align:center; font-family:arial; margin-top:50px;">EXAMPLE OF NGIF DIRECTIVE</h6>
    <app-ej-directiva-ng-if></app-ej-directiva-ng-if>

    <!-- EXAMPLE OF NGSTYLE DIRECTIRVE -->
    <h6 style="text-align:center; font-family:arial; margin-top:50px;">EXAMPLE OF NGSTYLE DIRECTIVE</h6>
    <app-ej-directiva-ng-style></app-ej-directiva-ng-style>

    <!-- EXAMPLE OF NGCLASS DIRECTIRVE -->
    <h6 style="text-align:center; font-family:arial; margin-top:50px;">EXAMPLE OF NGCLASS DIRECTIVE</h6>
    <app-ej-directiva-ng-class></app-ej-directiva-ng-class>

    <!-- EXAMPLE OF NGFOR DIRECTIRVE -->
    <h6 style="text-align:center; font-family:arial; margin-top:50px;">EXAMPLE OF NGFOR DIRECTIVE</h6>
    <app-ej-directiva-ng-for></app-ej-directiva-ng-for>

    <!-- EXAMPLE OF NGSWITCH DIRECTIVE -->
    <h6 style="text-align:center; font-family:arial; margin-top:50px;">EXAMPLE OF NGSWITCH DIRECTIVE</h6>
    <app-ej-directiva-ng-switch></app-ej-directiva-ng-switch>

    <!-- EXAMPLE OF MY CUSTOM DIRECTIVE 1 -->
    <h6 style="text-align:center; font-family:arial; margin-top:50px;">EXAMPLE OF MY CUSTOM DIRECTIVE 1</h6>
    <app-ej-mi-directiva1></app-ej-mi-directiva1>

    <!-- PASS DATA BETWEEN COMPONENTS -->
    <h6 style="text-align:center; font-family:arial; margin-top:50px;">PASS DATA BETWEEN COMPONENTS</h6>
    <app-parent></app-parent>

    <!-- PIPE DATE COMPONENT -->
    <h6 style="text-align:center; font-family:arial; margin-top:50px;">PIPE DATE COMPONENT</h6>
    <app-date></app-date>

    <!-- PIPE UPPERCASE AND LOWERCASE COMPONENT -->
    <h6 style="text-align:center; font-family:arial; margin-top:50px;">PIPE UPPERCASE AND LOWERCASE COMPONENT</h6>
    <app-upper-lower></app-upper-lower>

    <!-- PIPE NUMBER COMPONENT -->
    <h6 style="text-align:center; font-family:arial; margin-top:50px;">PIPE NUMBER COMPONENT</h6>
    <app-decimal></app-decimal>

    <!-- PIPE CURRENCY COMPONENT -->
    <h6 style="text-align:center; font-family:arial; margin-top:50px;">PIPE CURRENCY COMPONENT</h6>
    <app-currency></app-currency>
  </div><!-- END OF CONTAINER -->
</body>
</html>
