<!-- CONTAINER -->
<div id="wrapper01">
  <!-- TITLE -->
  <h1 class="title">Hola {{ destinity }} !</h1>

  <!-- ACTUAL DATE -->
  <app-fecha-actual></app-fecha-actual>

  <!-- VIEW ALUMNO -->
  <app-view-alumno></app-view-alumno>

  <!-- EXAMPLE OF INTERPOLATION METHOD -->
  <h6 style="text-align:center; font-family:arial;">EXAMPLE OF INTERPOLATION METHOD</h6>
  <app-metodo-interpolacion></app-metodo-interpolacion>

  <!-- EXAMPLE OF PROPERTY BINDING -->
  <h6 style="text-align:center; font-family:arial;">EXAMPLE OF PROPERTY BINDING</h6>
  <app-property-binding></app-property-binding>

  <!-- EXAMPLE OF EVENT BINDING -->
  <h6 style="text-align:center; font-family:arial;">EXAMPLE OF EVENT BINDING</h6>
  <app-event-binding></app-event-binding>

  <!-- EXAMPLE OF TWO BINDING -->
  <h6 style="text-align:center; font-family:arial;">EXAMPLE OF TWO BINDING</h6>
  <app-two-binding></app-two-binding>
</div><!-- END OF CONTAINER -->
