<!-- NAVBAR -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <!-- TITLE OF APP -->
  <a class="navbar-brand" routerLink="/">Compras App</a>

  <!-- HAMBURGUER BUTTON -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button><!-- END OF HAMBURGUER BUTTON -->

  <!-- OPTIONS -->
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <!-- LIST OF OPTIONS -->
    <ul class="navbar-nav mr-auto col-12 d-flex justify-content-end">
      <!-- INICIO OPTION -->
      <li class="nav-item active" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
        <a class="nav-link" routerLink="/">Inicio</a>
      </li><!-- END OF INICIO OPTION -->

      <!-- PROVEEDORES OPTION -->
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/proveedores">Proveedores</a>
      </li><!-- END OF PROVEEDORES OPTION -->

      <!-- PRESUPUESTOS OPTION -->
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/presupuestos">Presupuestos</a>
      </li><!-- END OF PRESUPUESTOS OPTION -->

      <!-- REGISTRO OPTION -->
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" class="btn btn-primary" role="btn" routerLink="/registro">Registro</a>
      </li><!-- END OF REGISTRO OPTION -->
    </ul><!-- END OF LIST OF OPTIONS -->
  </div><!-- END OF OPTIONS -->
</nav><!-- END OF NAVBAR -->
