<!-- CONTENT OF FORM -->
<div class="row">
  <!-- LEFT SIDE -->
  <div class="col col-md">

  </div><!-- END OF LEFT SIDE -->

  <!-- CENTER SIDE -->
  <div class="col-10 col-md-8">
    <!-- TITLE OF SECTION -->
    <h2>Editar Proveedor</h2>

    <!-- BUTTON TO GO TO LIST OF PROVEEDORES -->
    <a href="#" class="btn btn-primary float-md-right" role="btn" routerLink="/proveedores">Ver Proveedores</a>

    <br/>

    <!-- FORM TO EDIT PROVEEDOR -->
    <form [formGroup]="proveedoresForm" (ngSubmit)="onSubmit()">
      <!-- FIELD OF NOMBRE -->
      <div class="form-group">
        <!-- NAME -->
        <label for="inputNombre">*Nombre</label>
        
        <!-- ICONS OF VALIDATE -->
        <i class="fa fa-check-circle check" *ngIf="proveedoresForm.controls.nombre.valid"></i>
        <i class="fa fa-exclamation-circle uncheck" *ngIf="proveedoresForm.controls.nombre.invalid && proveedoresForm.controls.nombre.touched"></i>
        
        <!-- INPUT -->
        <input type="text" class="form-control" id="inputNombre" formControlName="nombre" [(ngModel)]="proveedor.nombre"/>
        
        <!-- MESSAGE OF ERROR -->
        <p class="alert alert-danger" *ngIf="proveedoresForm.controls.nombre.invalid && proveedoresForm.controls.nombre.touched">El campo nombre es obligatorio</p>
      </div><!-- END OF FIELD OF NOMBRE -->

      <!-- FIELD OF CIF -->
      <div class="form-group">
        <!-- NAME -->
        <label for="inputCif">*C.I.F.</label>
        
        <!-- ICONS OF VALIDATE -->
        <i class="fa fa-check-circle check" *ngIf="proveedoresForm.controls.cif.valid"></i>
        <i class="fa fa-exclamation-circle uncheck" *ngIf="proveedoresForm.controls.cif.invalid && proveedoresForm.controls.cif.touched"></i>

        <!-- INPUT -->
        <input type="text" class="form-control" id="inputCif" formControlName="cif" [(ngModel)]="proveedor.cif"/>

        <!-- MESSAGE OF ERROR -->
        <p class="alert alert-danger" *ngIf="proveedoresForm.controls.cif.invalid && proveedoresForm.controls.cif.touched">El campo cif es obligatorio</p>
      </div><!-- END OF FIELD OF CIF -->

      <!-- FIELD OF DIRECCION -->
      <div class="form-group">
        <!-- NAME -->
        <label for="inputDireccion">*Direccion</label>
        
        <!-- ICONS OF VALIDATE -->
        <i class="fa fa-check-circle check" *ngIf="proveedoresForm.controls.direccion.valid"></i>
        <i class="fa fa-exclamation-circle uncheck" *ngIf="proveedoresForm.controls.direccion.invalid && proveedoresForm.controls.direccion.touched"></i>

        <!-- INPUT -->
        <input type="text" class="form-control" id="inputDireccion" formControlName="direccion" [(ngModel)]="proveedor.direccion"/>

        <!-- MESSAGE OF ERROR -->
        <p class="alert alert-danger" *ngIf="proveedoresForm.controls.direccion.invalid && proveedoresForm.controls.direccion.touched">El campo direccion es obligatorio</p>
      </div><!-- END OF FIELD OF DIRECCION -->

      <!-- FIELD OF CÓDIGO POSTAL -->
      <div class="form-group">
        <!-- NAME -->
        <label for="inputCp">*Código Postal</label>
        
        <!-- ICONS OF VALIDATE -->
        <i class="fa fa-check-circle check" *ngIf="proveedoresForm.controls.codigoPostal.valid"></i>
        <i class="fa fa-exclamation-circle uncheck" *ngIf="proveedoresForm.controls.codigoPostal.invalid && proveedoresForm.controls.codigoPostal.touched"></i>

        <!-- INPUT -->
        <input type="text" class="form-control" id="inputCp" formControlName="codigoPostal" [(ngModel)]="proveedor.codigoPostal"/>

        <!-- MESSAGE OF ERROR -->
        <p class="alert alert-danger" *ngIf="proveedoresForm.controls.codigoPostal.invalid && proveedoresForm.controls.codigoPostal.touched">El campo código postal es obligatorio</p>
      </div><!-- END OF FIELD OF CÓDIGO POSTAL -->

      <!-- END OF FIELD OF LOCALIDAD -->
      <div class="form-group">
        <!-- NAME -->
        <label for="inputLocalidad">Localidad</label>
        
        <!-- ICONS OF VALIDATE -->
        <i class="fa fa-check-circle check" *ngIf="proveedoresForm.controls.localidad.valid"></i>
        <i class="fa fa-exclamation-circle uncheck" *ngIf="proveedoresForm.controls.localidad.invalid && proveedoresForm.controls.localidad.touched"></i>

        <!-- INPUT -->
        <input type="text" class="form-control" id="inputLocalidad" formControlName="localidad" [(ngModel)]="proveedor.localidad"/>

        <!-- MESSAGE OF ERROR -->
        <p class="alert alert-danger" *ngIf="proveedoresForm.controls.localidad.invalid && proveedoresForm.controls.localidad.touched">El campo localidad es obligatorio</p>
      </div><!-- END OF FIELD OF LOCALIDAD -->

      <!-- END OF FIELD OF PROVINCIA -->
      <div class="form-group">
        <!-- NAME -->
        <label for="inputProvincia">Provincia</label>
        
        <!-- ICONS OF VALIDATE -->
        <i class="fa fa-check-circle check" *ngIf="proveedoresForm.controls.provincia.valid"></i>
        <i class="fa fa-exclamation-circle uncheck" *ngIf="proveedoresForm.controls.provincia.invalid && proveedoresForm.controls.provincia.touched"></i>

        <!-- SELECT -->
        <select id="inputProvincia" class="form-control" formControlName="provincia" [(ngModel)]="proveedor.provincia">
          <option value="">Seleccione la provincia</option>
          <option *ngFor="let provincia of provincias" [value]="provincia">{{ provincia }}</option>
        </select><!-- END OF SELECT -->

        <!-- MESSAGE OF ERROR -->
        <p class="alert alert-danger" *ngIf="proveedoresForm.controls.provincia.invalid && proveedoresForm.controls.provincia.touched">El campo provincia es obligatorio</p>
      </div><!-- END OF FIELD OF PROVINCIA -->

      <!-- END OF FIELD OF TELÉFONO -->
      <div class="form-group">
        <!-- NAME -->
        <label for="inputTelefono">Teléfono</label>
        
        <!-- ICONS OF VALIDATE -->
        <i class="fa fa-check-circle check" *ngIf="proveedoresForm.controls.telefono.valid"></i>
        <i class="fa fa-exclamation-circle uncheck" *ngIf="proveedoresForm.controls.telefono.invalid && proveedoresForm.controls.telefono.touched"></i>

        <!-- INPUT -->
        <input type="number" class="form-control" id="inputTelefono" formControlName="telefono" [(ngModel)]="proveedor.telefono"/>

        <!-- MESSAGE OF ERROR -->
        <p class="alert alert-danger" *ngIf="proveedoresForm.controls.telefono.invalid && proveedoresForm.controls.telefono.touched">El campo telefono es obligatorio</p>
      </div><!-- END OF FIELD OF TELÉFONO -->

      <!-- END OF FIELD OF EMAIL -->
      <div class="form-group">
        <!-- NAME -->
        <label for="inputEmail">*Email</label>
        
        <!-- ICONS OF VALIDATE -->
        <i class="fa fa-check-circle check" *ngIf="proveedoresForm.controls.email.valid"></i>
        <i class="fa fa-exclamation-circle uncheck" *ngIf="proveedoresForm.controls.email.invalid && proveedoresForm.controls.email.touched"></i>

        <!-- INPUT -->
        <input type="email" class="form-control" id="inputEmail" formControlName="email" [(ngModel)]="proveedor.email"/>

        <!-- MESSAGE OF ERROR -->
        <p class="alert alert-danger" *ngIf="proveedoresForm.controls.email.invalid && proveedoresForm.controls.email.touched">El campo email es obligatorio</p>
      </div><!-- END OF FIELD OF EMAIL -->

      <!-- END OF FIELD OF PERSONA DE CONTACTO -->
      <div class="form-group">
        <!-- NAME -->
        <label for="inputContacto">Persona de Contacto</label>
        
        <!-- ICONS OF VALIDATE -->
        <i class="fa fa-check-circle check" *ngIf="proveedoresForm.controls.contacto.valid"></i>
        <i class="fa fa-exclamation-circle uncheck" *ngIf="proveedoresForm.controls.contacto.invalid && proveedoresForm.controls.contacto.touched"></i>

        <!-- INPUT -->
        <input type="text" class="form-control" id="inputContacto" formControlName="contacto" [(ngModel)]="proveedor.contacto"/>

        <!-- MESSAGE OF ERROR -->
        <p class="alert alert-danger" *ngIf="proveedoresForm.controls.contacto.invalid && proveedoresForm.controls.contacto.touched">El campo persona de contacto es obligatorio</p>
      </div><!-- END OF FIELD OF PERSONA DE CONTACTO -->

      <!-- SUBMIT BUTTON -->
      <button type="submit" class="btn btn-success" [disabled]="!proveedoresForm.valid">Editar Proveedor</button>

      <!-- MESSAGE OF INFORMATION -->
      <p class="alert alert-danger" *ngIf="!proveedoresForm.valid">Por favor complete todos los campos obligatorios</p>

      <!-- BUTTON TO CANCEL -->
      <a href="#" class="btn btn-danger float-md-right" role="btn" routerLink="/proveedores">Cancelar</a>
    </form><!-- END OF FORM TO EDIT PROVEEDOR -->
  </div><!-- END OF CENTER SIDE -->

  <!-- RIGHT SIDE -->
  <div class="col col-md">

  </div><!-- END OF RIGHT SIDE -->
</div><!-- END OF CONTENT OF FORM -->
