<!-- TITLE OF SECTION -->
<h3>Listado de Presupuestos</h3>

<!-- BUTTON TO ADD NEW PRESUPUESTO -->
<a href="#" class="btn btn-primary float-md-right" role="btn" style="margin-bottom: 25px;" routerLink="/addpres">Añadir Nuevo Presupuesto</a>

<!-- SEARCH -->
<input type="search" class="form-control" placeholder="Buscar presupuesto por proveedor..." style="margin-bottom: 15px;" [formControl]="searchForm"/>

<!-- LOADING -->
<div class="col-12 d-flex justify-content-center align-items-center" *ngIf="loading">
  <!-- IMG -->
  <img src="../../../../assets/img/spinner.gif" alt="Loading"/>
</div><!-- END OF LOADING -->

<!-- TABLE OF PRESUPUESTOS -->
<table class="table table-bordered table-striped" *ngIf="!loading && results">
  <!-- HEAD OF TABLE -->
  <thead>
    <!-- ROW OF FILTERS -->
    <tr class="filters">
      <th>Proveedor</th>
      <th>Fecha</th>
      <th>Concepto</th>
      <th>Importe sin IVA</th>
      <th>IVA</th>
      <th>Total</th>
      <th class="text-center">Acciones</th>
    </tr><!-- END OF ROW OF FILTERS -->
  </thead><!-- END OF HEAD OF TABLE -->

  <!-- BODY OF TABLE -->
  <tbody>
    <!-- ROW OF PRESUPUESTO -->
    <tr *ngFor="let presupuesto of presupuestos">
      <td>{{ presupuesto.proveedor }}</td>
      <td>{{ presupuesto.fecha }}</td>
      <td>{{ presupuesto.concepto }}</td>
      <td>{{ presupuesto.base }}</td>
      <td>{{ presupuesto.iva }}</td>
      <td>{{ presupuesto.total }}</td>
      <td class="d-flex justify-content-center align-items-center">
        <a href="#" class="btn btn-success" style="margin-right:10px;" role="btn" routerLink="/editpres/{{ presupuesto.id }}">Editar</a>
        <button class="btn btn-danger" (click)="deletePresupuesto( presupuesto.id )">Eliminar</button>
      </td>
    </tr><!-- END OF ROW OF PRESUPUESTO -->
  </tbody><!-- END OF BODY OF TABLE -->
</table><!-- END OF TABLE OF PRESUPUESTOS -->

<!-- RESULTS MESSAGE -->
<p class="alert alert-danger" *ngIf="!loading && !results">No existen resultados</p>
