/*------------------------------------------------------------*/
/*---| EVENT BINDING COMPONENT CSS |--------------------------*/
/*------------------------------------------------------------*/

  /* BUTTON */
/*------------------------------------------------------------*/
  #eventBinding1{
    display: block;
    margin: 0 auto;
  }

  #textEventBinding1{
    text-align: center;
  }
/*------------------------------------------------------------*/

/*------------------------------------------------------------*/
/*------------------------------------------------------------*/
