
<div class="row">
  <div class="col col-md"></div>
  <div class="col-10 col-md-8">
    <h2>Añadir nuevo Presupuesto</h2>

    <form [formGroup]="presupuestoForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="inputProveedor">Proveedor</label>
        <input type="text" class="form-control" id="inputProveedor" formControlName="proveedor"/>
      </div>

      <div class="form-group">
        <label for="inputFecha">Fecha</label>
        <input type="date" class="form-control" id="inputFecha" formControlName="fecha"/>
      </div>

      <div class="form-group">
        <label for="inputConcepto">Concepto</label>
        <input type="text" class="form-control" id="inputConcepto" formControlName="concepto"/>
      </div>

      <div class="form-group">
        <label for="inputBase">Base Imponible</label>
        <input type="number" class="form-control" id="inputBase" formControlName="base"/>
      </div>

      <div class="form-group">
        <label for="inputTipoIva">Tipo de IVA</label>
        <select class="form-control" id="inputTipoIva"  formControlName="tipo">
          <option value="">Seleccione...</option>
          <option value=0>0 %</option>
          <option value=0.04>4 %</option>
          <option value=0.1>10 %</option>
          <option value=0.21>21 %</option>
        </select>
      </div>

      <div class="form-group">
        <label for="inputIva">Import IVA</label>
        <input type="number" class="form-control" id="inputIva" formControlName="iva"/>
      </div>

      <div class="form-group">
        <label for="inputTotal">Total Presupuesto</label>
        <input type="number" class="form-control" id="inputTotal" formControlName="total"/>
      </div>

      <button type="submit" class="btn btn-primary">Añadir Presupuesto</button>
    </form>

    <pre>
      Valor del formulario: {{ presupuestoForm.value | json }}
    </pre>

    <pre>
      Estado del formulario: {{ presupuestoForm.status | json }}
    </pre>

    <pre>
      Valor del objeto Presupuesto: {{ presupuesto | json }}
    </pre>
  </div>
  <div class="col col-md"></div>
</div>
