/*------------------------------------------------------------*/
/*---| COPYRIGHT COMPONENT CSS |------------------------------*/
/*------------------------------------------------------------*/

  /* COPYRIGHT */
/*------------------------------------------------------------*/
  .copyright{
    font-family: courier;
    font-size: 12px;
    font-weight: bold;
    font-style: italic;
    text-align: center;
  }
/*------------------------------------------------------------*/

/*------------------------------------------------------------*/
/*------------------------------------------------------------*/
