/*------------------------------------------------------------*/
/*---| DATE COMPONENT CSS |-----------------------------------*/
/*------------------------------------------------------------*/

  /* CONTAINER */
/*------------------------------------------------------------*/
  #dateContainer1{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
/*------------------------------------------------------------*/

/*------------------------------------------------------------*/
/*------------------------------------------------------------*/
