/*------------------------------------------------------------*/
/*---| APP COMPONENT CSS |------------------------------------*/
/*------------------------------------------------------------*/

  /* TITLE */
/*------------------------------------------------------------*/
  #wrapper01>.title{
    font-family: arial;
    text-transform: uppercase;
    text-align: center;
    color: red;
  }
/*------------------------------------------------------------*/

/*------------------------------------------------------------*/
/*------------------------------------------------------------*/
